body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 40px;

}
.span-name{
    color: chocolate;
}
section{
    display: flex;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 5px;
}
.second-portion{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 70px;
    background-position-y: bottom;
}
.second-image{
    width: 50%;
    padding-left: 10%;
    padding-top: 2%;
}
.second-image img{
    width: 50%;
}
.short-name{
    color: coral;
}